* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif !important;
  /* font-optical-sizing: auto; */
  font-style: normal;
  overflow-x: hidden;
}

/* ------------------ universal classes -------------------    */
.mt {
  margin-top: 8rem;
}

.mb {
  margin-bottom: 8rem;
}

/* --------------------------------------- */

:root {
  --primary-color: #0000ff; /* Deep Blue */
  --secondary-color: #ff764d; /* Vibrant Orange */
  --accent-color: #fbffa7; /* Soft Yellow */
  --info-color: #b1c5ff; /* Calm Blue */
  --success-color: #b6ffc0; /* Soft Green */
  --highlight-color: #d5b3ff; /* Light Purple */
  --text-color: #001219;
}

/* ====================== nav bar ==================== */

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 1rem;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
}

.nav-links li:last-child a {
  color: var(--secondary-color);
}

.nav-links ul {
  display: flex;
  list-style: none;
  text-decoration: none;
  gap: 1.5rem;
}

.buttons button:first-child {
  color: var(--primary-color);
  border-color: var(--primary-color);
  font-weight: 500;
  border-width: 0.12rem;
}

.buttons button:first-child:hover {
  background-color: var(--primary-color);
  color: #fff;
  /* border-color: var(--primary-color); */
}

/* ============== hero-img ============ */
.brand-txt {
  width: 100%;
  height: 80vh;
  background: url(assets/img/hero-img.jpg) center no-repeat;
  background-size: cover;
  position: relative;
}

.brand-txt h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--secondary-color);
  font-size: 8rem;
  /* font-weight: light; */
  letter-spacing: 1rem;
  text-align: center;
  width: 90%;
}

/* ==================== section-1 ========================= */

.txsc-1 p > span {
  color: var(--primary-color);
}

@media screen and (max-width: 768px) {
  .txsc-1, .txsc-2, .txsc-3 {
    width: 85vw;
    text-align: left;
    padding: 1.5rem 0.75rem;
  }

  .txsc-1, .txsc-2, .txsc-3 p.fs-2 {
    font-size: 1.5rem !important;
    line-height: 1.3;
  }

  .txsc-1, .txsc-2, .txsc-3 p.lead {
    font-size: 1.1rem !important;
  }
}

.common-sec-style div {
  width: 60vw;
  text-align: justify;
  /* margin: 0 auto; */
}

#section1 .lysc-1 {
  padding: 0;
  width: 100%;
  /* margin-left: 12.1%; */
  height: 100vh;
  /* border: 1px solid #000; */
  position: relative;
  /* overflow-y: hidden; */
  /* overflow: hidden; */
}

#section1 .lysc-1 .bg-yellow {
  position: absolute;
  right: -40%;
  width: 100%;
  height: 120%;
  background: var(--accent-color);
}

#section1 .lysc-1 .lyimg1sc-1 {
  position: absolute;
  /* border: 1px solid #000; */
  width: 50%;
  height: 80%;
  top: 20%;
  background: url(assets/img/pic-1.jpg) center / cover no-repeat;
  /* background-size: cover; */
}

#section1 .lysc-1 .lyimg2sc-1 {
  position: absolute;
  /* border: 1px solid #000; */
  right: 0;
  top: 35%;
  width: 40%;
  height: 50%;
  background: url(assets/img/pic-2.jpg) center / cover no-repeat;
}

/* section-2 */

#section2 {
  margin-top: 17rem;
}

.iframe-box {
  display: flex;
  justify-content: center;
}

/* section-3 */

#section3 .lysc-3 {
  padding: 0;
  width: 100%;
  /* margin-left: 12.1%; */
  height: 100vh;
  /* border: 1px solid #000; */
  position: relative;
  /* overflow-y: hidden; */
  /* overflow: hidden; */
}

#section3 .lysc-3 .bg-green {
  position: absolute;
  left: -40%;
  width: 100%;
  height: 160%;
  background: var(--success-color);
}

#section3 .lysc-3 .lyimg1sc-3 {
  position: absolute;
  /* border: 1px solid #000; */
  width: 40%;
  height: 50%;
  top: 20%;
  background: url(assets/img/pic-4.jpg) center / cover no-repeat;
  /* z-index: 10; */
  /* background-size: cover; */
}

#section3 .lysc-3 .lyimg2sc-3 {
  position: absolute;  
  /* border: 1px solid #000; */
  /* right: 0; */
  top: 90%;
  width: 40%;
  height: 50%;
  background: url(assets/img/pic-5.jpg) center / cover no-repeat;
}

#section3 .lysc-3 .lyimg3sc-3 {
  position: absolute;
  top: 40%;
  right: 0;
  width: 50%;
  height: 80%;
  background: url(assets/img/pic-3.jpg) center / cover no-repeat;
  /* border-radius: 1%; */
}
